### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

Execute the below code cell to avoid prettytable default error.

In [12]:
!pip install ipython-sql prettytable

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: ipython-sql in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (3.15.1)
Requirement already satisfied: ipython in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (8.19.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from prettytable) (0.2.12)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.14.1)
Requirement already satisfied: colorama in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [13]:
!pip install pandas
!pip install ipython-sql prettytable

import prettytable
prettytable.DEFAULT = 'DEFAULT'

import pandas as pd
import csv, sqlite3

con = sqlite3.connect("FinalDB.db")
cur = con.cursor()


!pip install ipython-sql
%load_ext sql

Requirement already satisfied: pandas in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: six>=1.5 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: ipython-sql in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (3.15.1)
Requirement already satisfied: ipython in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (8.19.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from prettytable) (0.2.12)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.14.1)
Requirement already satisfied: colorama in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: ipython-sql in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (0.5.0)The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Requirement already satisfied: prettytable in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (from ipython-sql) (3.15.1)
Requirement already satisfied: ipython in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (8.19.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\yagnesh\appdata\roaming\python\python311\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.14.1)
Requirement already satisfied: colorama in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from prettytable->ipython-sql) (0.2.12)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\yagnesh\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

Load the SQL magic module

In [14]:
%sql sqlite:///FinalDB.db

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [15]:
import pandas as pd
df = pd.read_csv("ChicagoCrimeData.csv")
df.to_sql("ChicagoCrimeData", con, if_exists='replace', index=False, method="multi")

533

Establish a connection between SQL magic module and the database `FinalDB.db`

In [16]:
import pandas as pd
df = pd.read_csv("ChicagoPublicSchools.csv")
df.to_sql("ChicagoPublicSchools", con, if_exists='replace', index=False, method="multi")

OperationalError: too many SQL variables

In [17]:
df = pd.read_csv("ChicagoCensusData.csv")
df.to_sql("ChicagoCensusData", con, if_exists='replace', index=False, method="multi")

78

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [18]:
%sql select count(*) from ChicagoCrimeData

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [19]:
%sql select COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PER_CAPITA_INCOME from ChicagoCensusData where PER_CAPITA_INCOME  < 11000 order by PER_CAPITA_INCOME

 * sqlite:///FinalDB.db
Done.

[(54.0, 'Riverdale', 8201),
 (30.0, 'South Lawndale', 10402),
 (37.0, 'Fuller Park', 10432),
 (26.0, 'West Garfield Park', 10934)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [20]:
#%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('ChicagoCrimeData');

#%sql select Case_number from ChicagoCrimeData where description like '%child'

%sql select Case_number from ChicagoCrimeData where DESCRIPTION like '%minor%'

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [21]:
%sql select Case_number from ChicagoCrimeData where DESCRIPTION like '%child%' and primary_type = 'KIDNAPPING'

 * sqlite:///FinalDB.db
Done.

[('HN144152',)]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [22]:
#%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('ChicagoCrimeData');
%sql SELECT DISTINCT(PRIMARY_TYPE) as Crime_Type FROM ChicagoCrimeData

 * sqlite:///FinalDB.db
Done.

[('THEFT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('OTHER OFFENSE',),
 ('ASSAULT',),
 ('BURGLARY',),
 ('MOTOR VEHICLE THEFT',),
 ('DECEPTIVE PRACTICE',),
 ('ROBBERY',),
 ('CRIMINAL TRESPASS',),
 ('PROSTITUTION',),
 ('WEAPONS VIOLATION',),
 ('PUBLIC PEACE VIOLATION',),
 ('OFFENSE INVOLVING CHILDREN',),
 ('CRIM SEXUAL ASSAULT',),
 ('SEX OFFENSE',),
 ('INTERFERENCE WITH PUBLIC OFFICER',),
 ('GAMBLING',),
 ('LIQUOR LAW VIOLATION',),
 ('ARSON',),
 ('HOMICIDE',),
 ('KIDNAPPING',),
 ('INTIMIDATION',),
 ('STALKING',),
 ('OBSCENITY',),
 ('CONCEALED CARRY LICENSE VIOLATION',),
 ('PUBLIC INDECENCY',),
 ('NON-CRIMINAL',),
 ('OTHER NARCOTIC VIOLATION',),
 ('HUMAN TRAFFICKING',),
 ('NON - CRIMINAL',),
 ('RITUALISM',),
 ('NON-CRIMINAL (SUBJECT SPECIFIED)',),
 ('DOMESTIC VIOLENCE',)]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [24]:
%sql select avg(SAFETY_SCORE) from ChicagoPublicSchools

 * sqlite:///FinalDB.db
Done.

[(None,)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [25]:
%sql select COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY  from ChicagoCensusData order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [26]:
%sql select COMMUNITY_AREA_NUMBER from Chicagocrimedata group by COMMUNITY_AREA_NUMBER order by count(*) desc limit 1

 * sqlite:///FinalDB.db
Done.

[(25.0,)]


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [27]:
%sql select COMMUNITY_AREA_NAME, HARDSHIP_INDEX from chicagocensusdata where  HARDSHIP_INDEX in (select max(HARDSHIP_INDEX) from chicagocensusdata  )

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 98.0)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [28]:
%sql SELECT COMMUNITY_AREA_NAME FROM chicagocensusdata WHERE COMMUNITY_AREA_NUMBER IN(select COMMUNITY_AREA_NUMBER from chicagocrimedata GROUP BY COMMUNITY_AREA_NUMBER order by COUNT(*) DESC  LIMIT 1)

 * sqlite:///FinalDB.db
Done.

[('Austin',)]